.containerr {
    background-image: url('../app/register/white-embossed-honeycomb-pattern-ui-background-vector-illustration_200484-200.jpg');
    background-size:10%;
    background-repeat: repeat;
    padding: 40px;
    margin: 0;
    box-sizing: border-box;
}