<footer
  class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top gap-4 footer"
>
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <span class="mb-3 mb-md-0 text-muted"
      >© DECOS 2022, Inc. All Rights Reserved.</span
    >
  </div>

  <span>
    <a class="text-muted" href="https://www.facebook.com/deco.style.f/"
      ><fa-icon class="social-icons" [icon]="faFacebookSquare"></fa-icon></a
  ></span>
  <span>
    <a class="text-muted" href="https://www.instagram.com/_dekos___/"
      ><fa-icon class="social-icons" [icon]="faInstagramSquare"></fa-icon></a
  ></span>
</footer>
